 body{
    background: #fdfefe;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.container{
    width: 250px;
    height: 250px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: gallery 20s linear infinite;
    cursor: pointer;
}

.container:hover{
    animation-play-state: paused;
}

.container span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(500px);
    -webkit-box-reflect: below 2px linear-gradient(transparent,transparent,rgba(4,4,4,0.267));
}

img{
    height: 100%;
    width: 100%; 
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
img:hover{
  height: 280px;
  transform: translateY(-15px);
}
@keyframes gallery {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

@media (max-width: 1220px) {
    .container {
        width: 200px;
    }
    .container span {
        transform: rotateY(calc(var(--i)*45deg)) translateZ(360px);
    }
}

@media (max-width: 768px) {
    .container {
        width: 120px; 
    }
    .container span {
        transform: rotateY(calc(var(--i)*45deg)) translateZ(200px);
    }
}

@media (max-width: 500px) {
    .container {
        width: 100px; 
    }
    .container span {
        transform: rotateY(calc(var(--i)*45deg)) translateZ(150px);
    }
}